[Unit]
Description=fia

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=4096
Restart=always
RestartSec=5s
StandardOutput=append:/root/fia/errors.log
StandardError=append:/root/fia/errors.log
Environment="ORIGIN=https://fia.suren.love"
Environment="BODY_SIZE_LIMIT=50M"
ExecStart=/root/.nvm/versions/node/v24.7.0/bin/node /root/fia/index.js

[Install]
WantedBy=multi-user.target